@import url("https://fonts.googleapis.com/css?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap");

h1,
h2 {
  text-align: center;
}

h1 {
  color: rgba(100, 50, 255, 0.8);
  font-family: "Mountains of Christmas", cursive;
  color: #212121;
}

.rainbow {
  font-family: "Allura", cursive;
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
  -webkit-animation: rainbow 5s infinite;

  -ms-animation: rainbow 5s infinite;

  animation: rainbow 5s infinite;
}
@-webkit-keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

@keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: CadetBlue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: DeepPink;
  }
  90% {
    color: DodgerBlue;
  }
  100% {
    color: orange;
  }
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 84%
  );
}

.type h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
    blink-caret 0.5s step-end infinite;
}

body {
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
