* {
    margin-left: 5px;
    font-family: 'Montserrat',sans-serif;
}
.blue{
    top: 100px;
    background-color: skyblue;
    width: 300px;
    height: 100px;
    border: 3px solid red;
}
.green{
    top: 100px;
    background-color: lightgreen;
    width: 300px;
    height: 100px;
    border: 3px solid black;
}
.yellow{
    top: 100px;
    background-color: yellow;
    width: 300px;
    height: 100px;
    border: 3px solid green;
}
.orange{
    top: 100px;
    background-color: orange;
    width: 300px;
    height: 100px;
    border: 3px solid purple;
}

.button{
    border: none;
    padding: 10px 10px;
    display: inline-block;
    margin: 1px 1px;
    cursor: pointer;
}

.bluebutton{
    background-color: skyblue;
}
.greenbutton{
    background-color: lightgreen;
}
.yellowbutton{
    background-color: yellow;
}
.orangebutton{
    background-color: orange;
}

.converterbox{
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.numbersbox{
	padding: 5px;
    margin-bottom: 2%;
}