body{
    background-color: #00d4ff;
    background-image: linear-gradient(62deg, #00d4ff 0%, #090979 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}